<div class="row justify-content-center">
	<section class="col p-3 col-lg-5">
		<h1>Edgar Osvaldo</h1>
		<h3>Pech García</h3>
		<section>
			<div class="rounded-2" style="background-color: #db93c4;">
				<h5 class="text-center">Experiencia laboral</h5>
			</div>
			<div>
				<P class="text-black">Fecha de nacimiento:</P>
				<p>1999/10/12</p>
			</div>
			<div>
				<P>CURP: <span>PEGE951210HQRCRD09</span></P>
			</div>
			<div class="rounded-2" style="background-color: #db93c4;">
				<h5 class="text-center">IDIOMAS</h5>
			</div>
			<div>
				<P>Ingles: <span>90 %</span></P>
			</div>
			<div>
				<P>Español: <span>90 %</span></P>
			</div>
		</section>
	</section>
	<section class="col col-lg-3 p-3 rounded-4 align-items-center justify-content-center" style="background-color: #dbb6cf">
		<div style="margin: 0 auto 24px; display: flex; justify-content: center">
			<img  src="~/Fotos/Captura de pantalla 2023-03-24 174402.png" width="240" height="240" class="rounded-circle" />
		</div>
		<div>
			<div class="rounded-2" style="background-color: #db93c4;">
				<p class="text-black text-center" >DIRECCIÓN</p>
			</div>
			<p>Calle 52 Mz 21 Lote 6. SM 515</p>
			<div class="rounded-2" style="background-color: #db93c4;">
				<p class="text-black text-center">EMAIL</p>
			</div>
			<p>edgaropech@gmail.com</p>
			<div class="rounded-2" style="background-color: #db93c4;">
				<p class="text-black text-center">DESCRIPCIÓN</p>
			</div>
			<p>lorem impsum dolor sit amet consectur adapicsin elit. habitasse diam etementirn</p>
		</div>
	</section>
	
</div>
